In [20]:
from feos.si import * # Can be installed via pip install feos
import pandas as pd

# Water

In [21]:
# Water
	
nu_water = 20
sigma_water = 3.00143591 * ANGSTROM
eps_k_water = 398.302260 * KELVIN #epsilon/KB
kappa_ab_water = 0.0588848599
eps_ab_water = 2699.63068

In [22]:
data = pd.read_csv('real_ufrac_water.csv')

In [23]:
data.head()

,Unnamed: 0,temperature,density,real_ufrac,delta_phi,stable,pres
0,0,275,55878.787879,1.028297,0.033922,1,-1140.404937
1,1,275,56439.393939,1.032663,0.037796,1,-940.644580
2,2,275,57000.000000,1.036487,0.041168,1,-730.254795
3,3,345,54757.575758,1.104154,0.110896,1,-1342.822157
4,4,345,55318.181818,1.103953,0.110113,1,-1111.372196

In [31]:
data['dimensionless_densities'] = data.density.values * MOL / METER**3 * NAV * sigma_water**3
data['dimensionless_temperatures'] = data.temperature.values / (eps_k_water / KELVIN)

In [33]:
data.head()

,Unnamed: 0,temperature,density,real_ufrac,delta_phi,stable,pres,dimensionless_densities,dimensionless_temperatures
0,0,275,55878.787879,1.028297,0.033922,1,-1140.404937,0.909882,0.690430
1,1,275,56439.393939,1.032663,0.037796,1,-940.644580,0.919010,0.690430
2,2,275,57000.000000,1.036487,0.041168,1,-730.254795,0.928139,0.690430
3,3,345,54757.575758,1.104154,0.110896,1,-1342.822157,0.891625,0.866176
4,4,345,55318.181818,1.103953,0.110113,1,-1111.372196,0.900754,0.866176